node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
NOTES.md
LICENSE
.vscode
Makefile
helm-charts
.env
.env.*
.editorconfig
.idea
coverage*
build
eslint.config.js
tsconfig.json
