# The fully qualified domain name where the application is hosted.
# SvelteKit uses this at runtime to prevent cross-site request forgery (CSRF) attacks.
ORIGIN=https://your-domain.com

# GitHub personal access token. If present, it is automatically added to the Authorization header
# for GitHub API requests, increasing the rate limit for GitHub API requests from 60 to 5,000
# requests per hour. If omitted, longer caching is used to avoid hitting the rate limit.
GITHUB_TOKEN=
