# The fully qualified domain name where the application is hosted.
# SvelteKit uses this at runtime to prevent cross-site request forgery (CSRF) attacks.
ORIGIN=https://your-domain.com

# GitHub personal access token. If present, it is automatically added to the Authorization header
# for GitHub API requests, increasing the rate limit for GitHub API requests from 60 to 5,000
# requests per hour. If omitted, longer caching is used to avoid hitting the rate limit.
GITHUB_TOKEN=

# Sonar Uptime API key. Necessary to use the Sonar Uptime API. If omitted, calls to the API will fail.
SONAR_API_KEY=

# The widget ID for the ApiWatch monitor used to track uptime for the portfolio projects.
# This must be a public/share-enabled 'multi-moonitor' widget containing all the monitors for the projects that have uptime tracking enabled.
APIWATCH_MONITORS_WIDGET_ID=

# Sonar's public IDs for the monitored services.
# Not sensitive, but might as well be kept here for ease of handling.
SONAR_UPTIME_ID=
FSA_UPTIME_ID=
CHESS_SH_UPTIME_ID=
DRIP_UPTIME_ID=
MISE_UPTIME_ID=
